* {
    text-align: center;
    background-color:#7090df;
}

.btn {
    height : 100px;
    width : 100px;
    border : 5px solid black;
    border-radius: 10px;
    margin : 1rem;
}

.btn_container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(234, 73, 122);
}
.green {
    background-color: rgb(84, 243, 84);
}
.orange {
    background-color: rgb(254, 201, 104);
}
.purple {
    background-color: rgb(197, 146, 245);
}
.flash {
    background-color: white;
}
.aftFlash {
    background-color: rgb(167, 246, 167);
}
